In [1]:
cd ..

/Users/nguyen/projects/ab-framework

In [2]:
import scipy.stats as scs

from src.data import generate_data

## Test generate_data()

In [3]:
ctr = generate_data(N_A=1000, N_B=1000, bcr=0.11, d_hat=0.03, days=7)

In [4]:
ctr.head()

   converted group  ts
0          1     A   0
1          0     B   0
2          0     B   0
3          0     B   0
4          0     A   0

In [5]:
A = ctr[ctr['group'] == 'A']

In [6]:
A['converted'].sum()

99

In [7]:
A.shape

(988, 3)

In [8]:
B = ctr[ctr['group'] == 'B']

In [9]:
B['converted'].sum()

155

In [10]:
B.shape

(1012, 3)

In [18]:
99/988, 155/1012

(0.10020242914979757, 0.15316205533596838)

#### The above values are close to the provided conversion rates when running the generate_data function.

In [19]:
ctr['ts'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7])

In [12]:
day0 = ctr[ctr['ts'] == 0]

In [13]:
day0.shape

(285, 3)

In [14]:
day0.head()

   converted group  ts
0          1     A   0
1          0     B   0
2          0     B   0
3          0     B   0
4          0     A   0

In [15]:
A0 = day0[day0['group'] == 'A']
A0['converted'].sum(), A0.shape

(11, (147, 3))

In [16]:
B0 = day0[day0['group'] == 'B']
B0['converted'].sum(), B0.shape

(23, (138, 3))

In [20]:
11/147, 23/138

(0.07482993197278912, 0.16666666666666666)