In [1]:
cd ..

/Users/nguyen/projects/ab-framework

In [24]:
import scipy.stats as scs

from src.data import generate_data

In [57]:
ctr = generate_data(1000, 1000, 0.11, 0.03, days=7)

In [58]:
ctr

      converted group  ts
0             0     B   0
1             0     B   0
2             0     B   0
3             0     B   0
4             0     A   0
5             1     A   0
6             0     B   0
7             0     B   0
8             1     A   0
9             0     A   0
10            0     A   0
11            0     A   0
12            0     B   0
13            0     B   0
14            0     A   0
15            1     A   0
16            0     B   0
17            0     A   0
18            0     A   0
19            0     A   0
20            0     A   0
21            0     B   0
22            0     A   0
23            0     A   0
24            0     B   0
25            1     B   0
26            0     B   0
27            0     A   0
28            0     A   0
29            0     A   0
...         ...   ...  ..
1970          1     A   6
1971          0     A   6
1972          0     B   6
1973          0     A   6
1974          1     B   6
1975          0     B   6
1976          0     A   6
1977          0     A   6
1978          0     B   6
1979          0     B   6
1980          0     B   6
1981          0     A   6
1982          0     A   6
1983          0     A   6
1984          0     B   6
1985          0     B   6
1986          0     B   6
1987          0     B   6
1988          0     A   6
1989          0     B   6
1990          0     B   6
1991          0     A   6
1992          0     A   6
1993          0     B   6
1994          0     A   6
1995          0     A   7
1996          0     A   7
1997          0     A   7
1998          0     A   7
1999          0     B   7

[2000 rows x 3 columns]

In [59]:
A = ctr[ctr['group'] == 'A']

In [60]:
A['converted'].sum()

112

In [61]:
B = ctr[ctr['group'] == 'B']

In [62]:
B['converted'].sum()

135

In [63]:
B.shape

(995, 3)

In [64]:
A.shape

(1005, 3)

In [72]:
112/1005, 135/995

(0.11144278606965174, 0.135678391959799)

In [65]:
day0 = ctr[ctr['ts'] == 0]

In [66]:
day0.shape

(285, 3)

In [67]:
day0

     converted group  ts
0            0     B   0
1            0     B   0
2            0     B   0
3            0     B   0
4            0     A   0
5            1     A   0
6            0     B   0
7            0     B   0
8            1     A   0
9            0     A   0
10           0     A   0
11           0     A   0
12           0     B   0
13           0     B   0
14           0     A   0
15           1     A   0
16           0     B   0
17           0     A   0
18           0     A   0
19           0     A   0
20           0     A   0
21           0     B   0
22           0     A   0
23           0     A   0
24           0     B   0
25           1     B   0
26           0     B   0
27           0     A   0
28           0     A   0
29           0     A   0
..         ...   ...  ..
255          0     A   0
256          0     B   0
257          1     A   0
258          0     B   0
259          0     A   0
260          0     B   0
261          1     A   0
262          0     B   0
263          1     A   0
264          1     B   0
265          0     A   0
266          0     B   0
267          0     A   0
268          0     B   0
269          0     B   0
270          0     B   0
271          0     B   0
272          0     A   0
273          0     A   0
274          0     A   0
275          0     B   0
276          1     B   0
277          0     A   0
278          0     A   0
279          0     A   0
280          0     B   0
281          0     A   0
282          0     A   0
283          0     A   0
284          0     B   0

[285 rows x 3 columns]

In [68]:
A0 = day0[day0['group'] == 'A']
A0['converted'].sum(), A0.shape

(18, (154, 3))

In [70]:
B0 = day0[day0['group'] == 'B']
B0['converted'].sum(), B0.shape

(13, (131, 3))

In [71]:
13/131

0.09923664122137404